
<!-- <h1>{{mess}}</h1> -->
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Reasons
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li *ngFor="let abc of Names; let i= index">
        <a class="dropdown-item" routerLink="/{{abc.reason}}" (click)="sendData(abc)">{{abc.reason}}</a>  
      </li>
    </div>
  </div>

<h3 style="text-align: center; color: dodgerblue;">
    <span *ngFor="let abc of head; let i= index">  
      No of {{abc.reason}} appointments in last 12 months
</span>
</h3>
<br>
<!-- <h1>{{head}}</h1> -->
<br>
<br>
<div class="row">
  <div class="col-md-4">
    <span style="text-align: center;"><h4>Column Chart</h4></span>
<ngx-charts-bar-vertical
[view]="view"
[scheme]="colorScheme"
[results]="single"
[gradient]="gradient"
[xAxis]="showXAxis"
[yAxis]="showYAxis"
[legend]="showLegend"
[showXAxisLabel]="showXAxisLabel"
[showYAxisLabel]="showYAxisLabel"
[xAxisLabel]="xAxisLabel"
[yAxisLabel]="yAxisLabel"
[showDataLabel]="dataLabel"
>
</ngx-charts-bar-vertical>

</div>
<div class="col-md-4  offset-md-2">
  <span style="text-align: center;"><h4>Bar Chart</h4></span>
  <ngx-charts-bar-horizontal
  [view]="view"
  [scheme]="colorSchemeBar"
  [results]="single"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  
[showDataLabel]="dataLabel"
  >
  </ngx-charts-bar-horizontal>
  
</div>
</div>
<hr>

<div class="row col-md-4 offset-md-1">

    <ngx-datatable
        class="bootstrap datatable-body-row"
        [rows]="single"
        [columns]="columns"
        [headerHeight]="40"
        [summaryRow]="true"
        [summaryPosition]="'bottom'"
        [footerHeight]="40"
        rowHeight="auto"
      >
</ngx-datatable>

</div>