<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" style="margin-left: 60px;">
    Reasons
  </button>
  <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
    <li *ngFor="let abc of Names; let i= index" class="dropdown-item">
      <a class="" href="/reason" (click)="sendData(abc)">{{abc.reason}}</a>  
    </li>
  </div>
</div>
<h3 style="text-align: center;margin-top:60px ; color: dodgerblue;">

  Reason Wise Count last 12 Months</h3>
<br>
<br>
<div class="row">
  <div class="col-md-4">
    <span style="text-align: center;"><h4>Column Chart</h4></span>
<ngx-charts-bar-vertical
[view]="view"
[scheme]="colorScheme"
[results]="single"
[gradient]="gradient"
[xAxis]="showXAxis"
[yAxis]="showYAxis"
[legend]="showLegend"
[showXAxisLabel]="showXAxisLabel"
[showYAxisLabel]="showYAxisLabel"
[xAxisLabel]="xAxisLabel"
[yAxisLabel]="yAxisLabel"
[showDataLabel]="dataLabel"
>
</ngx-charts-bar-vertical>

</div>
<div class="col-md-4  offset-md-2">
  <span style="text-align: center;"><h4>Bar Chart</h4></span>
  <ngx-charts-bar-horizontal
  [view]="view"
  [scheme]="colorSchemeBar"
  [results]="single"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  
[showDataLabel]="dataLabel"
  >
  </ngx-charts-bar-horizontal>
  
</div>
</div>
<hr>

<div class="row col-md-4 " style="margin-left:50px;">

    <ngx-datatable
        class="bootstrap datatable-body-row"
        [rows]="single"
        [columns]="columns"
        [headerHeight]="40"
        [summaryRow]="true"
        [summaryPosition]="'bottom'"
        [footerHeight]="40"
        rowHeight="auto"
      >
</ngx-datatable>

</div>
